@import "./aboutUs/aboutUs.css";
@import "./availability/availability.css";
@import "./facilities/facilitiesHome.css";
@import "./facts/facts.css";
@import "./footer/footer.css";
@import "./intro/intro.css";
@import "./jumbotron/jumbotron.css";
@import "./menu/menu.css";
@import "./navbar/navbar.css";
@import "./rooms/rooms.css";
@import "./seperationBlock/seperationBlock.css";

$primary-font: 'Old Standard TT', serif;
$secondary-font: 'Archivo', sans-serif;
$third-font: 'Roboto', sans-serif;
$color: #FFFFFF;
