@import "./popular/popular.css";
@import "./roomoffer/roomoffer.css";

$primary-font: 'Old Standard TT', serif;
$secondary-font: 'Archivo', sans-serif;
$third-font: 'Roboto', sans-serif;
$color: #FFFFFF;
