@import "./about/aboutInfoPage.css"; 
@import "./counter/counter.css"; 
@import "./facilities/facilities.css";
@import "./icons/icons.css";
@import "./restaurant/restaurant.css";

$primary-font: 'Old Standard TT', serif;
$secondary-font: 'Archivo', sans-serif;
$third-font: 'Roboto', sans-serif;